body {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAA1BMVEVVVVURwN3rAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO8GxYgAAb0jQ/cAAAAASUVORK5CYII=");
}
.B {
    display: flex;
  flex-wrap: wrap;
  margin-top:20px;
  justify-content: center;
    float: left;
  Margin: 5px 10px 10px 0px;
}
.Bean {
  display: flex;
  flex-wrap: wrap;
  margin-top:20px;
  justify-content: center;
}
p {
    Color: #6698FF;
    Text-align: left;
    font-size: 20px;
}
.c {
    display: flex;
  flex-wrap: wrap;
  margin-top:20px;
  justify-content: center;
    float: left;
  Margin: 5px 10px 10px 0px;
}
h3 {
    Color: #6698FF;
    Text-align:left;
    Font-size:40px;
}
h1 {
    Color: #6698FF;
    Text-align:left;
    Font-size:40px;
}
h2 {
    Color: #6698FF;
    Text-align:left;
    Font-size:40px;
}
.banner{
    backgorund-image:url();
    Border:3px;
        Text-allign:center;
}
}