body {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAA1BMVEVVVVURwN3rAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO8GxYgAAb0jQ/cAAAAASUVORK5CYII=");
}
.B {
    display: flex;
  flex-wrap: wrap;
  margin-top:20px;
  justify-content: center;
  float: left;
  Margin: 5px 10px 10px 0px;
}
.Bean {
  display: flex;
  flex-wrap: wrap;
  margin-top:20px;
  justify-content: left;
  background-color: #6698FF;
  Padding: 5px;
}
.Park {
  display: flex;
  flex-wrap: wrap;
  margin-top: -195px;
  justify-content: center;
  background-color: #6698FF;
}
.empire {
  display: flex;
  flex-wrap: wrap;
  margin-top:100px;
  justify-content: right;
  background-color: #6698FF;
}
.Screen {
  display: flex;
  flex-wrap: wrap;
  margin-top: -181px;  
  margin-left: 900px;
  justify-content: center;
  height: 190px;
}
.wrigley {
  display: flex;
  flex-wrap: wrap;
  margin-top: -175px;  
  margin-right: -15px;
  justify-content: center;
}
.zoo {
  display: flex;
  flex-wrap: wrap;
  margin-top: -190px;  
  margin-right: -750px;
  justify-content: center;
    background-color: #6698FF;
}
p {
    Color: #6698FF;
    Text-align: left;
    font-size: 30px;
    font-style: Italic;
}
.c {
    display: flex;
  flex-wrap: wrap;
  margin-top:20px;
  justify-content: center;
    float: left;
  Margin: 5px 10px 10px 0px;
}
h3 {
    Color: #6698FF;
    Text-align:left;
    Font-size:40px;
}
h1 {
    Color: #6698FF;
    Font-size:40px;
}
h2 {
    Color: #6698FF;
    Text-align:left;
    Font-size:40px;
}
.banner {
    background-image:url("http://publicdomainvectors.org/photos/chicago.png");
    Border: 3px solid #6698FF;
    Text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}